.one{
    color: #5f2c3e ;
    text-align: center;
    padding: 30px 0px 0px 0px;
}
.two{
    color: #73a24e;
    
    padding: 30px 0px 0px 100px;
}
.three{
    color: #73a24e;
    
    padding: 30px 0px 0px 100px;
}
.four{
    color: #73a24e;
    
    padding: 30px 0px 0px 100px;
}