.dream{
    padding: 0px 40px 0px 200px;
}
.spacer{
    padding: 0px 40px 0px 400px;
}
.img-responsive{
    height:8vh
}
.content{
    padding: 16px;
}
/* .admin-last{
    text-align: end;
} */
.spacer1{
    text-align: end;
    padding: 0px 0px 0px 150px;
}
